<!--Make view strongly typed by adding the model directive-->   

@model Treehouse.FitnessFrog.Models.Entry

@{
    ViewBag.Title = "Add Entry";

    <!--Adding Drop down to our page-->
    //var selectListItems = new[]
    //{
    //    new SelectListItem(){Value="1",Text="Item 1", Selected=false},
    //    new SelectListItem(){Value="2",Text="Item 2", Selected=true}
    //};
    var items = new[]
    {
        new {Id=1,Name="Item1"},
        new {Id=2,Name="Item2"}
    };
    var selectListItems = new SelectList(items, "Id", "Name");
}

@*<select>
    <option value="1">Item 1</option>
    <option value="2" selected>Item 2</option>
</select>*@

<h2>@ViewBag.Title</h2>


@*Use Html Helper method to render the form element*@

@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(m=>m.Date, new { @class = "control-label" })
                @Html.TextBoxFor(m=>m.Date,"{0:d}", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ActivityId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.ActivityId, 
                            (SelectList)ViewBag.ActivitiesSelectListItems,"", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Duration, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Duration, null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Intensity, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Intensity, null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Exclude, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Exclude, null, new { @class = "form-control" })
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(m=>m.Notes, new { @class = "control-label" })
                @Html.TextAreaFor(m=>m.Notes, 14, 20, new { @class = "form-control" })
            </div>

        </div>

        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>

    </div>
}



 